<div [@routerTransition] class="role-content">
    <app-page-header [heading]="'Roles'" [icon]="'fa-edit'"></app-page-header>
    <h1 class="page-title">Rôles</h1>
    <div class="role-create">
      <form #roleForm="ngForm" (ngSubmit)="createRole(roleForm)" novalidate>
        <input type="text" id="title" class="form-control" placeholder="Type a role and press enter..." 
               required
               name="role" [(ngModel)]="newRole.role"
               #title="ngModel" >
      </form>
    </div>
    <ul class="role-list">
      <li *ngFor="let role of roles" [class.completed]="role.completed === true" >
        <div class="role-row" *ngIf="!editing || editingRole.id != role.id">
            <a class="role-completed" (click)="toggleCompleted(role)">
              <i class="material-icons toggle-completed-checkbox"></i> 
            </a> 
            <span class="role-title">
              {{role.role}}
            </span>
            <span class="role-actions">
                <a (click)="editRole(role)">
                  <i class="material-icons edit">edit</i>
                </a>
                <a (click)="deleteRole(role.id)">
                  <i class="material-icons delete">clear</i>
                </a>
            </span>
        </div>
        <div class="role-edit" *ngIf="editing && editingRole.id === role.id">
            <input class="form-control" type="text" 
             [(ngModel)]="editingRole.role" required>
            <span class="edit-actions">
                <a (click)="updateRole(editingRole)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
        </div>
      </li>
    </ul>
    <div class="no-roles" *ngIf="roles && roles.length == 0">
        <p>No Roles Found!</p>
    </div>
</div>