<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>