<div class="login-content" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h2><strong>Ajouter les enseignants</strong></h2>
            <form role="form" [formGroup]="enseignantForm" >
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="nom" class="form-control input-underline input-lg" id="nom" name="nom" [(ngModel)]="enseignant.nom" placeholder="Nom">
                        <span class="text-danger" *ngIf="!enseignantForm.get('nom').valid && enseignantForm.get('nom').touched ">Entrez le nom</span>
                    </div>
  
                    <div class="form-group">
                        <input type="text" formControlName="prenom" class="form-control input-underline input-lg" id="prenom" name="prenom" [(ngModel)]="enseignant.prenom" placeholder="Prenom">
                        <div class="text-danger" *ngIf="!enseignantForm.get('prenom').valid && enseignantForm.get('prenom').touched ">Entrez le prenom </div>
                    </div>
  
                    <div class="form-group">
                        <input type="number" formControlName="mobile" class="form-control input-underline input-lg" id="mobile" name="mobile" [(ngModel)]="enseignant.mobile" placeholder="Numero de telephone">
                        <div class="text-danger"
                         *ngIf="!enseignantForm.get('mobile').valid && enseignantForm.get('mobile').touched ">
                            <div *ngIf="enseignantForm.controls.mobile.errors.required" >Entrez le numero de telephone </div>                     
                        </div>
                    </div>
  
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email" name="email" [(ngModel)]="enseignant.email" placeholder="Email">
                        <div class="text-danger" *ngIf="!enseignantForm.get('email').valid && enseignantForm.get('email').touched">
                            <div *ngIf="enseignantForm.controls.email.errors.required">Entrez l' email</div>
                        </div>
                    </div>
  
                    <div class="form-group">
                        <select formControlName="classe"  class="form-control" id="classe" required  name="classe">
                            <option  *ngFor="let classe of classes" [value]="classe.nom" >{{classe.nom}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="course" class="form-control input-underline input-lg" id="course" name="course" [(ngModel)]="enseignant.course" placeholder="Matière">
                        <div class="text-danger" *ngIf="!enseignantForm.get('course').valid && enseignantForm.get('course').touched ">Entrez la matière </div>
                    </div>
  
                    <div class="form-group">
                        <input type="text" formControlName="location" class="form-control input-underline input-lg" id="location" name="location" [(ngModel)]="enseignant.location" placeholder="Lieu de résidence">
                        <div class="text-danger" *ngIf="!enseignantForm.get('location').valid && enseignantForm.get('location').touched ">Entrez le prenom </div>
                    </div>
                </div>
                <a class="btn btn-secondary" type="submit" (click)="addEnseignant(enseignantForm.value)" > Register </a>
            </form>
        </div>
    </div>
  </div>
  
  