<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-8">
                <div class="card-header">Liste des enseignants</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Numero de Telephone</th>
                            <th>Classe</th>
                            <th>Matière</th>
                            <th>Adresse</th>
                            <th>Modification</th>
                            <th>Suppression</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let enseignant of enseignants">
                            <th scope="row">1</th>
                            <td>{{enseignant.nom}}</td>
                            <td>{{enseignant.prenom}}</td>
                            <td>{{enseignant.email}}</td>
                            <td>{{enseignant.mobile}}</td>
                            <td>{{enseignant.classe}}</td>
                            <td>{{enseignant.course}}</td>
                            <td>{{enseignant.location}}</td>
                            <td><button type="button" class="btn btn-sm btn-primary"  [routerLink]="['/enseignants/list/', enseignant.key]" >Modifier</button></td>
                            <td><button type="button" class="btn btn-sm btn-danger"(click)="deletEnseignant(enseignant.key)">Supprimer</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
