<div class="login-content" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-6">
          <img class="user-avatar" src="assets/images/logo.png" width="150px" />
          <h2><strong>Ajouter vos classes</strong></h2>
          <form role="form" [formGroup]="classeForm" >
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" formControlName="nom" class="form-control input-underline input-lg" id="nom" name="nom" [(ngModel)]="classe.nom" placeholder="Nom de la classe">
                      <span class="text-danger" *ngIf="!classeForm.get('nom').valid && classeForm.get('nom').touched ">Entrez le nom</span>
                  </div>

                  <div class="form-group">
                    <textarea rows="10" class="form-control" placeholder="Décrivez la classe" formControlName="description" name="descripion" [(ngModel)]="classe.description" >
                    </textarea>
                    <div class="text-danger" *ngIf="!classeForm.get('description').valid && classeForm.get('description').touched ">Entrez la desccription </div>
                  </div>
              </div>
              <a class="btn btn-secondary" type="submit" (click)="addClasse(classeForm.value)" > Register </a>
          </form>
      </div>
  </div>
</div>


