<div [@routerTransition]>
      <div class="col-lg-12">
          <div class="card mb-4">
              <div class="card-header">Liste des classes</div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let classe of classes" style="width: 300px;" ><br><br>
                                <div class="card  border-info mb-3"  style="max-width: 20rem;" >
                                    <a [routerLink]="[ '/classes/list/etudiants',classe.nom]" >
                                        <div class="card-header">
                                            <h4 class="card-title"> {{classe.nom}}</h4>
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <p class="card-text">{{classe.description}}</p><br>
                                        <button type="button" class="btn btn-sm btn-primary"  [routerLink]="['/classes/list/', classe.key]" >Modifier</button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger"(click)="deleteClasse(classe.key)">Supprimer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--
     <table class="table table-bordered">
                      <thead>
                      <tr>
                          <th>Nom</th>
                          <th>Description</th>
                          <th>Modification</th>
                          <th>Suppression</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let classe of classes">
                          <td><a [routerLink]="['/classes/list/etudiants', classe.nom]">{{classe.nom}}</a></td>
                          <td>{{classe.description}}</td>
                          <td><button type="button" class="btn btn-sm btn-primary"  [routerLink]="['/classes/list/', classe.key]" >Modifier</button></td>
                          <td><button type="button" class="btn btn-sm btn-danger"(click)="deleteClasse(classe.key)">Supprimer</button></td>
                      </tr>
                      </tbody>
                  </table>
-->
