<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Gestionnaire School</h1>
            <form role="form" [formGroup]="loginForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email" name ="email" [(ngModel)]="user.email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg" id="password" name ="password" [(ngModel)]="user.password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLogin(loginForm.value)"> Se connecter </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">S'inscrire</a>
            </form>
        </div>
    </div>
</div>
