<form role="form" [formGroup]="enseignantForm" novalidate>
    <div class="panel panel-default content"    [@routerTransition]>
      <div >
        <i class="fa fa-user"></i>&nbsp;
        <label>Modifier un enseignant</label>
      </div>
      <div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Nom : </label>
          <input type="text" formControlName="nom" class="form-control col-lg-8" required name="nom" [(ngModel)]="enseignant.nom"
            >
        </div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Prenom : </label>
          <input type="text" formControlName="prenom" class="form-control col-lg-8" required name="prenom" [(ngModel)]="enseignant.prenom"
            >
        </div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Email : </label>
          <input type="email" formControlName="email" class="form-control col-lg-8" required name="email" [(ngModel)]="enseignant.email"
            >
        </div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Numero de telephone : </label>
          <input type="text" formControlName="mobile" class="form-control col-lg-8" required name="mobile" [(ngModel)]="enseignant.mobile"
            >
        </div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Classe : </label>
          <select formControlName="classe"  class="form-control col-lg-8" id="classe" required  name="classe">
            <option  *ngFor="let classe of classes" [value]="classe.nom" >{{classe.nom}}</option>
          </select>
        </div>

        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Matière : </label>
          <input type="text" formControlName="course" class="form-control col-lg-8" required name="course" [(ngModel)]="enseignant.course"
           >
        </div>

        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Adresse : </label>
          <input type="text" formControlName="location" class="form-control col-lg-8" required name="location" [(ngModel)]="enseignant.location"
            >
        </div>
      </div>
      <button class="btn btn-success" (click)="update(enseignantForm.value)">Modifier</button>&nbsp;
    </div>
  </form>