<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Gestionnaire School</h1>
            <form role="form" [formGroup]="signupForm" >
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email" name="email" [(ngModel)]="user.email" placeholder="Email">
                        <div class="text-danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                            <div *ngIf="signupForm.controls.email.errors.hasEmail"> Votre email n'est pas valide</div>
                            <div *ngIf="signupForm.controls.email.errors.required">Entrez votre email</div>
                        </div>
                    </div>
                     
                    <div class="form-group">
                            <show-hide-password size="sm" icon="fontawesome" btnStyle="secondary" [btnOutline]="false">
                                <input type="password" formControlName="password" class="form-control input-underline input-lg" id="password" name="password" [(ngModel)]="user.password" placeholder="Mot de passe">
                            </show-hide-password>

                            <div class="text-danger" *ngIf="!signupForm.get('password').valid && (signupForm.get('password').touched)">
                                <div *ngIf="signupForm.controls.password.errors.required">Le mot de passe est requis</div>
                                <div *ngIf="signupForm.controls.password.errors.strong" > Le mot de passe doit contenirune lettre majuscule </div>  
                                <div *ngIf="signupForm.controls.password.errors.lower"> Le mot de passe doit contenir une lettre minuscule</div>
                                <div *ngIf="signupForm.controls.password.errors.number">Le mot de passe doit contenir un nombre</div>
                                <div *ngIf="signupForm.controls.password.errors.special"> Le mot de passe doit contenir un caractère special </div>
                                <div *ngIf="signupForm.controls.password.errors.eight"> Le mot de passe doit contenir au moins 8 caractères</div>
                            </div>
                    </div>

                    <div class="form-group">
                            <show-hide-password size="sm" icon="fontawesome" btnStyle="secondary" [btnOutline]="false">
                                <input type="password" formControlName="repeatPassword" class="form-control input-underline input-lg" id="repeatPassword" name="repeatPassword"  placeholder="Retapez mot de passe" required compare="password">
                            </show-hide-password>
                            
                            <div class="text-danger" *ngIf="!signupForm.get('repeatPassword').valid && signupForm.get('repeatPassword').touched">
                                    
                                    <div *ngIf="signupForm.controls.repeatPassword.errors['required']"> Retapez votre mot de passe</div>
        
                                    <div *ngIf="signupForm.controls.repeatPassword.errors['compare']">Les mots de passe ne correspondent pas</div>
                            </div>
                    </div>

                </div>
                <a class="btn rounded-btn"  *ngIf="signupForm.valid" (click)="onRegister(signupForm.value)" >S'inscrire </a>&nbsp;
                <a class="btn rounded-btn"  [routerLink]="['/login']">Se connecter</a>
            </form>
        </div>
    </div>
</div>
