<form role="form" [formGroup]="classeForm" novalidate>
    <div class="panel panel-default content"    [@routerTransition]>
      <div >
        <i class="fa fa-user"></i>&nbsp;
        <label>Modifier une classe</label>
      </div>
      <div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Nom : </label>
          <input type="text" formControlName="nom" class="form-control col-lg-8" required name="nom" [(ngModel)]="classe.nom"
            >
        </div>
        <div class="row form-group">
          <label class="label-form col-lg-3 text-right">Description : </label> <br>
          <textarea class="form-control col-lg-8" formControlName="description" name="descripion" [(ngModel)]="classe.description" rows="4">
            </textarea>
        </div>
      </div>
      <button class="btn btn-success" (click)="update(classeForm.value)">Modifier</button>&nbsp;
    </div>
  </form>
