<div [@routerTransition]>
  <div class="row">
      <div class="col-lg-12">
          <div class="card mb-8">
              <div class="card-header">Liste de tous les étudiants</div>
              <div class="card-body table-responsive">
                  <table class="table table-bordered">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Email</th>
                          <th>Numero de Telephone</th>
                          <th>Classe</th>
                          <th>Adresse</th>
                          <th>Modification</th>
                          <th>Suppression</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let etudiant of etudiants">
                          <th scope="row">1</th>
                          <td>{{etudiant.nom}}</td>
                          <td>{{etudiant.prenom}}</td>
                          <td>{{etudiant.email}}</td>
                          <td>{{etudiant.mobile}}</td>
                          <td>{{etudiant.classe}}</td>
                          <td>{{etudiant.location}}</td>
                          <td><button type="button" class="btn btn-sm btn-primary"  [routerLink]="['/etudiants/list/', etudiant.key]" >Modifier</button></td>
                          <td><button type="button" class="btn btn-sm btn-danger"(click)="deleteEtudiant(etudiant.key)">Supprimer</button></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

