<div class="login-content" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-6">
          <img class="user-avatar" src="assets/images/logo.png" width="150px" />
          <h2><strong>Ajouter vos étudiants</strong></h2>
          <form role="form" [formGroup]="etudiantForm" >
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" formControlName="nom" class="form-control input-underline input-lg" id="nom" name="nom" [(ngModel)]="etudiant.nom" placeholder="Nom">
                      <span class="text-danger" *ngIf="!etudiantForm.get('nom').valid && etudiantForm.get('nom').touched ">Entrez le nom</span>
                  </div>

                  <div class="form-group">
                      <input type="text" formControlName="prenom" class="form-control input-underline input-lg" id="prenom" name="prenom" [(ngModel)]="etudiant.prenom" placeholder="Prenom">
                      <div class="text-danger" *ngIf="!etudiantForm.get('prenom').valid && etudiantForm.get('prenom').touched ">Entrez le prenom </div>
                  </div>

                  <div class="form-group">
                      <input type="number" formControlName="mobile" class="form-control input-underline input-lg" id="mobile" name="mobile" [(ngModel)]="etudiant.mobile" placeholder="Numero de telephone">
                      <div class="text-danger"
                       *ngIf="!etudiantForm.get('mobile').valid && etudiantForm.get('mobile').touched ">
                          <div *ngIf="etudiantForm.controls.mobile.errors.required" >Entrez le numero de telephone </div>                     
                      </div>
                  </div>

                  <div class="form-group">
                      <input type="text" formControlName="email" class="form-control input-underline input-lg" id="email" name="email" [(ngModel)]="etudiant.email" placeholder="Email">
                      <div class="text-danger" *ngIf="!etudiantForm.get('email').valid && etudiantForm.get('email').touched">
                          <div *ngIf="etudiantForm.controls.email.errors.required">Entrez l' email</div>
                      </div>
                  </div>

                  <div class="form-group">
                        <label for="classe">Classe</label>
                        <select formControlName="classe"  class="form-control" id="classe" required  name="classe">
                            <option  *ngFor="let classe of classes" [value]="classe.nom" >{{classe.nom}}</option>
                        </select>
                  </div>

                <div class="form-group">
                  <input type="text" formControlName="location" class="form-control input-underline input-lg" id="location" name="location" [(ngModel)]="etudiant.location" placeholder="Lieu de résidence">
                  <div class="text-danger" *ngIf="!etudiantForm.get('location').valid && etudiantForm.get('location').touched ">Entrez le prenom </div>
                </div>
              </div>
              <a class="btn btn-secondary" type="submit" (click)="addEtudiant(etudiantForm.value)" > Register </a>
          </form>
      </div>
  </div>
</div>

