<div [@routerTransition]>
  <div class="row">
      <div class="col-lg-12">
          <div class="card mb-8">
              <div class="card-header">
                Liste des étudiants de <button type="button" class="btn btn-primary">
                    <span class="badge badge-light" >{{etudiant.classe}}</span>
                  </button><br><br>
                Nombre d'Etudiants: <button type="button" class="btn btn-primary">
                  <span class="badge badge-light" >{{effectif}}</span>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a [routerLink]="[ '/classes/list/enseignants',etudiant.classe]" >Liste des enseignants</a>
                <a></a>
              </div>
              <div class="card-body table-responsive">
                  <table class="table table-bordered">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Email</th>
                          <th>Numero de Telephone</th>
                          <th>Adresse</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let etudiant of etudiants">
                          <th scope="row">1</th>
                          <td>{{etudiant.nom}}</td>
                          <td>{{etudiant.prenom}}</td>
                          <td>{{etudiant.email}}</td>
                          <td>{{etudiant.mobile}}</td>
                          <td>{{etudiant.location}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>


